.card-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1.25rem;
 }
 
 .like-btn{
     color: rgb(250, 4, 4);
     font-size:x-large;
 }

 .btn-warning { 
     background-color: rgb(73, 133, 73)!important;
     color: white!important;
 }
