.card-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1.25rem;
 }
 .post{
    width: 30%;
 }
 .like-btn{
     color: rgb(250, 4, 4);
     font-size:x-large;
 }

 .btn-warning { 
     background-color: rgb(73, 133, 73)!important;
     color: white!important;
 }


 


.comment{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.commentTitle{
    font-weight: bold;
}
.commentDate{
    font-style: italic;
}

.btnCont{
    padding: 0.5rem 1rem;
}

.delCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.card{
    width: 80% !important;
}
.postImg{
    object-fit: contain
 }

.btn{
    margin-bottom: .35rem;
}

@media screen and (min-width:768px) {
    .card{
        width: 40% !important;
    }
    
}

@media screen and (min-width:1024px) {
    .postContainer{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
     
    }
    .post{
        width: 100% !important;
        /* display:flex */
    }
    .card  {
        flex-direction: row-reverse !important;
    }
    .post .card-body{
        flex: 3;
    }
    .post img{
        flex: 1;
        object-fit: cover;
        height: 350px;
    }
    
}