a {
    color: inherit;
    text-decoration: none;
  }
  
  *,*::after,*::before {
    box-sizing: border-box;
  }
  

#root{
  position: relative;
    height: 100vh;
}

.footer{
  position: sticky;
  bottom:0;
  width: 100%;
}
  
  .controls {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background: #ccc;
    border-radius: 4px;
    color: #fff;
  }
  
  .controls input {
    border: none;
    margin: 0.4rem 0;
  }
  
  .mapContainer {
    width: 100%;
    height: 40vh;
    padding: .5rem;
    
  }

  .map-container {
    width: 100%;
    height: 40vh;
  }
  
  .map {
    width: 100%;
    height: 100vh;
  }
  
  .highlight {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .combobox-input {
    width: 100%;
    padding: 0.5rem;
  }

  @media screen and (min-width:768px) {
    .mapContainer {
      height: 70vh;
      margin: 0 auto;
      padding: .5rem;
      
    }
  
    .map-container {
      width: 100%;
      height: 70vh;
    }
    
    .map {
      width: 100%;
      height: 100vh;
    }
    
  }
  @media screen and (min-width:1024px) {
    
    .mapContainer {
      width: 80%;
      height: 70vh;
      margin: 0 auto;
      padding: .5rem;
      flex:2
      
    }
    .controls{
      flex: 1;
    }
  
    .map-container {
      width: 100%;
      height: 70vh;
    }
    
    .map {
      width: 100%;
      height: 100vh;
    }
    
  }